*.class
*.log
*.jar
activator
activator.bat

# sbt specific
.cache
.cache-main
.cache-tests
.history
.lib/
dist/*
target/
project/
libexec/
bin/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.settings


npm
!.npmrc

### Nemo-Csscala ###
/nemo-assets/src-generated/

### IntelliJ ###
*.iml
**/*.iml
*.ipr
*.iws
.idea/
.idea_modules/
atlassian-ide-plugin.xml


### Eclipse ###
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
/bin
/lib/
out/


### App-Anatomy
run-like-a-pipeline.sh

### Python ###
*.pyc

### exclude old setup ###
/public
/ui
/app
/project
/src-generated

**/cypress/screenshots/**
**/cypress/videos/**
